
<div class="container ">
    <h2 align="center">Gestions des notes de frais</h2> <br>

    <div class="col-md-10 ">

        <table class="table ">
            <thead>
                <tr>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Nature</th>
                    <th>Depart</th>
                    <th>Arrivée</th>
                    <th>Transport</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!--boucle de parcours  de notre liste de mission-->
                <tr ng-repeat="mission in $ctrl.missions">

                    <td>{{mission.debut}}</td>
                    <td>{{mission.fin}}</td>
                    <td>{{mission.nature.type}}</td>
                    <td>{{mission.villeDepart}}</td>
                    <td>{{mission.villeArrivee}}</td>
                    <td>{{mission.transport}}</td>
                    <td>{{mission.statut}}</td>
                    <!--dans le ng-click j'appel mon controleur qui appel le deleteMission de MissionService. et en pararmétre de fonction on a l'id de la mission.-->
                    <!--Donc en cliquant sur la poubelle, automatiquement il recupere l'id correspondant à la ligne et supprime ainsi la mission : $ctrl.MissionService.deleteMission(mission.id)-->

                    <td>
                        <!--BOUTON ACTION-->
                        <a href="/gestion-des-missions/noteDeFrais/mission/{{mission.id}}" class="btn btn-default" ><span class="glyphicon glyphicon-plus"></span></a>
                        
                    </td>
                </tr>


            </tbody>
        </table>

        <div>

        </div>
    </div>
</div>
