<h1 align="center">

  GDM</h1>
<h2 align="center">Gestion des mission</h2>

<form class="form-horizontal container wrap" name="authentification">
  <fieldset>

    <!-- Form Name -->
    <!--<legend align="center">Bonjour : {{$ctrl.user.email}} </legend>-->

    <!-- Text input-->
    <div class="form-group container">
      <label class="col-md-4 control-label" for="username">email </label>
      <div class="col-md-4">
        <input id="username" name="username" type="text" placeholder="" class="form-control input-md" required ng-model="$ctrl.user.email">

      </div>
    </div>

    <!-- Password input-->
    <div class="form-group container">
      <label class="col-md-4 control-label" for="password">password</label>
      <div class="col-md-4">
        <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required ng-model="$ctrl.user.password">

      </div>
    </div>

    <div class="alert alert-danger" ng-if="$ctrl.errorLogin">
      Vos informations d'authentification sont invalides
    </div>

    <!-- Button -->
    <div class="form-group container">
      <label class="col-md-4 control-label" for="butConnect"></label>
      <div class="col-md-4">
        <button id="butConnect" name="butConnect" class="btn btn-primary" type="submit" ng-disabled="authentification.$invalid" ng-click="$ctrl.connection()"
          ng-click="">se connecter</button>

    <div ng-if="$ctrl.debug">
        <a ng-click="$ctrl.user = {email:'robertsross@sultraxin.com',password:'password'}" class="btn btn-default">login as Collab</a>
        <a ng-click="$ctrl.user = {email:'mosspena@sultraxin.com',password:'password'}" class="btn btn-default">login as Collab2</a>
        <a ng-click="$ctrl.user = {email:'jacksonbullock@sultraxin.com',password:'password'}" class="btn btn-default">login as Manager</a>
        <a ng-click="$ctrl.user = {email:'nelliehahn@sultraxin.com',password:'password'}" class="btn btn-default">login as Admin</a>
    </div>



      </div>
    </div>

  </fieldset>
</form>