<h1 align="center">

    GDM</h1>
<h2 align="center">Gestion des mission</h2>

<form class="form-horizontal container wrap" name="authentification">
    <fieldset>

        <!-- Date de debut-->
        <div class="form-group container">
            <label class="col-md-4 control-label" for="username">Date de debut </label>
            <div class="col-md-4">
                <input id="username" ng-model="$ctrl.mission.debut" name="username" type="date" placeholder="" class="form-control input-md" required>
            </div>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>

        <!-- Date de fin-->
        <div class="form-group container">
            <label class="col-md-4 control-label" for="username">Date de fin </label>
            <div class="col-md-4">
                <input id="username" ng-model="$ctrl.mission.fin" name="username" type="date" placeholder="" class="form-control input-md" required>
            </div>
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </div>

        <!-- Nature -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Nature</label>
            <div class="col-md-4">
                <select id="selectbasic" ng-model="$ctrl.mission.nature.id" name="selectbasic" class="form-control">
                    <option ng-repeat="nature in $ctrl.natures" value="{{nature.id}}">{{nature.type}}</option>
    </select>
            </div>
        </div>

        <!-- Ville de depart -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Ville de depart</label>
            <div class="col-md-4">
                <input id="textinput" ng-model="$ctrl.mission.villeDepart" name="textinput" type="text" placeholder="ville de départ" class="form-control input-md">

            </div>
        </div>

        <!-- Ville d'arrivée -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Ville d'arrivée</label>
            <div class="col-md-4">
                <input id="textinput" ng-model="$ctrl.mission.villeArrivee" name="textinput" type="text" placeholder="ville d'arrivée" class="form-control input-md">

            </div>
        </div>

        <!-- Transport -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Transport</label>
            <div class="col-md-4">
                <select id="selectbasic" ng-model="$ctrl.mission.transport" name="selectbasic" class="form-control">
      <option ng-repeat="transport in $ctrl.transports" value="{{transport}}">{{transport}}</option>
    </select>
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button id="button1id" name="button1id" class="btn btn-danger" ng-click="$ctrl.reset()">Annuler</button>
                <button id="button2id" name="button2id" class="btn btn-success" ng-click="$ctrl.addMission()">Valider</button>
            </div>
        </div>