<div class="container">
    <h2 align="center">RECAPITULATION DES PRIMES</h2> <br>
    <div class="col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Nature</th>
                    <th>Prime</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mission in $ctrl.missions" ng-if="mission.statut == 'ECHUE'">
                    <td>{{mission.debut}}</td>
                    <td>{{mission.fin}}</td>
                    <td>{{mission.nature.type}}</td>
                    <td>{{mission.prime.toFixed(2)}} €</td>
                </tr>
            </tbody>
        </table>


        <canvas id="line" 
            class="chart chart-line" 
            chart-data="data" 
            chart-labels="labels" 
            chart-series="series" 
            chart-options="options"
            chart-dataset-override="datasetOverride" 
            chart-click="onClick">
        </canvas>

        <canvas data-sys-chart-line data-dataset="$ctrl.data" width="400" height="240"></canvas>


        <!--<img src="http://i.imgur.com/ersAdQs.png" width="500">-->
    </div>
</div>