<div class="">
    <h1 class="modal-title container">Titre de test</h1>
    <div class="modal-body">

        <label>date de debut: {{$ctrlPop.uneMission.debut}}</label>
        <br>
        <label>date de fin: {{$ctrlPop.uneMission.fin}}</label>
        <br>

        <label>Nature de mission: {{$ctrlPop.uneMission.nature}}</label>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn btn-danger" ng-click="$ctrlPop.annuler()">Annuler</a>
        <!--
"$ctrlPop.MissionService.validationSuppression() ; $ctrlPop.uneMission = $ctrlPop.MissionService.getMission($ctrl.user.matricule)"
-->

        <a class="btn btn-success" ng-click="$ctrlPop.validerSuppression()" data-toggle="modal" data-target="#product_view">Valider</a>

    </div>