 AFFICHAGE DES MISSION <br>
<div class="row">

    <div class="col-md-10">

        <table class="table">
            <thead>
                <tr>
                    <th>Date de debut</th>
                    <th>Date de fin</th>
                    <th>Nature</th>
                    <th>Depart</th>
                    <th>Arrivée</th>
                    <th>Transport</th>
                    <th>Statut</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mission in $ctrl.missions">

                    <td>{{mission.debut}}</td>
                    <td>{{mission.fin}}</td>
                    <td>{{mission.nature}}</td>
                    <td>{{mission.villeDepart}}</td>
                    <td>{{mission.villeArrivee}}</td>
                    <td>{{mission.transport}}</td>
                    <td>{{mission.statut}}</td>
                    <!--dans le ng-click j'appel mon controleur qui appel le deleteMission de MissionService. et en pararmétre de fonction on a l'id de la mission.-->
                    <!--Donc en cliquant sur la poubelle, automatiquement il recupere l'id correspondant à la ligne et supprime ainsi la mission : $ctrl.MissionService.deleteMission(mission.id)-->

                    <td><a class="btn btn-default" ng-click="$ctrl.MissionService.deleteMission(mission.id) ; $ctrl.missions = $ctrl.MissionService.getMission($ctrl.user.matricule)" data-toggle="modal" data-target="#product_view" ><span class="glyphicon glyphicon-trash"></span></a></td>




                    <td><a class="btn btn-default" ng-click="$ctrl.popup(mission)" data-toggle="modal" data-target="#product_view"><span class="glyphicon glyphicon-trash"></span></a></td>

                </tr>


            </tbody>
        </table>

        <div>

        </div>


        <div>
            <button><a href="/gestion-des-missions/missionsCreation" class="btn btn-default">Ajouter une demande</a></button>
        </div>
