 <!--Choix du statut 
<form>
    <label><input type="radio" ng-model="$ctrl.user.role" value="admin"> Administrateur</label>
    <label><input type="radio" ng-model="$ctrl.user.role" value="manager">Manager</label>
    <label><input type="radio" ng-model="$ctrl.user.role" value="employe">Employe</label>
</form>-->


<div>
    <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.connection({email:'robertsross@sultraxin.com',password:'password'})" class="btn btn-default">login as Collab</a>
    <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.connection({email:'jacksonbullock@sultraxin.com',password:'password'})" class="btn btn-default">login as Manager</a>
    <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.connection({email:'nelliehahn@sultraxin.com',password:'password'})" class="btn btn-default">login as Admin</a>

    <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.saveUser(
        {
            matricule:'test',
            nom:'toto',
            prenom:'tata',
            email:'test',
            password:'password',
            role:'EMPLOYE'
        })" class="btn btn-default">fake EMPLOYE</a>
    <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.saveUser(
        {
            matricule:'test',
            nom:'toto',
            prenom:'tata',
            email:'test',
            password:'password',
            role:'ADMINISTRATEUR'
        })" class="btn btn-default">fake ADMINISTRATEUR</a>
    <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.saveUser(
        {
            matricule:'test',
            nom:'toto',
            prenom:'tata',
            email:'test',
            password:'password',
            role:'MANAGER'
        })" class="btn btn-default">fake MANAGER</a>

        <a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.deleteUser()" class="btn btn-default">Logout</a>
</div>

<div id="wrapper" ng-model="$ctrl.user.role" ng-init="$ctrl.user.role=='EMPLOYE'">
    <div class="container-fluid">
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a ng-href="/gestion-des-missions/" >Accueil</a></li>
            <li><a ng-href="missionsVisualisation">Gestion des missions</a></li>
            <li><a href="#">Planning des missions</a></li>
            <li><a href="#">Primes</a></li>
            <li><a href="#">Saisie note de frais</a></li>
            <li ng-if="$ctrl.user.role=='ADMINISTRATEUR'"><a href="#">Natures des missions</a></li>
            <li ng-if="$ctrl.user.role=='MANAGER'"><a href="#">Validation des missions</a></li>

            
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="$ctrl.user">
            <li><p class="navbar-text" > {{$ctrl.user.nom}}, {{$ctrl.user.prenom}} </span></p></li>
        </ul>
    </nav>
</div>
</div>



<!--<div id="wrapper" ng-switch="utilisateurs">
    <div ng-switch-when="admin">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Gestion des missions</a></li>
                <li><a href="#">Planning des missions</a></li>
                <li><a href="#">Primes</a></li>
                <li><a href="#">Saisie note de frais</a></li>
                <li><a href="#">Natures des missions</a></li>

            </ul>
        </nav>
    </div>
    <div ng-switch-when="manager">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Gestion des missions</a></li>
                <li><a href="#">Planning des missions</a></li>
                <li><a href="#">Primes</a></li>
                <li><a href="#">Saisie note de frais</a></li>
                <li><a href="#">Validation des missions</a></li>
            </ul>
        </nav>
    </div>

    <div ng-switch-when="employe">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Gestion des missions</a></li>
                <li><a href="#">Planning des missions</a></li>
                <li><a href="#">Primes</a></li>
                <li><a href="#">Saisie note de frais</a></li>
            </ul>
        </nav>
    </div>-->