<div id="wrapper" ng-model="$ctrl.user.role" ng-init="$ctrl.user.role=='EMPLOYE'" ng-hide="$ctrl.hide">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/missionsVisualisation')}"><a ng-href="missionsVisualisation">Gestion des missions</a></li>
                <li ng-class="{active:isActive('/missionsPlanning')}"><a ng-href="missionsPlanning">Planning des missions</a></li>
                <li ng-class="{active:isActive('/primes')}"><a ng-href="primes">Primes</a></li>
                <li ng-class="{active:isActive('/noteDeFrais')}"><a ng-href="noteDeFrais">Saisie note de frais</a></li>
                <li ng-class="{active:isActive('/')}" ng-if="$ctrl.user.role=='ADMINISTRATEUR'"><a href="#">Natures des missions</a></li>
                <li ng-class="{active:isActive('/missionsValidation')}" ng-if="$ctrl.user.role=='MANAGER'"><a ng-href="missionsValidation">Validation des missions <span class="badge progress-bar-danger" ng-if="$ctrl.getMissionsEnAttente().length > 0">{{$ctrl.getMissionsEnAttente().length}}</span></a>
                </li>

            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="$ctrl.user">
                <li>
                    <p class="navbar-text">Bienvenue, {{$ctrl.user.nom}} {{$ctrl.user.prenom}} </span>
                    </p>
                </li>
                <li><a ng-href="missionsVisualisation" ng-click="$ctrl.LoginService.deleteUser()" class="btn btn-default">Se déconnecter</a></li>
            </ul>
        </div>
    </nav>

</div>



<!--<div id="wrapper" ng-switch="utilisateurs">
    <div ng-switch-when="admin">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Gestion des missions</a></li>
                <li><a href="#">Planning des missions</a></li>
                <li><a href="#">Primes</a></li>
                <li><a href="#">Saisie note de frais</a></li>
                <li><a href="#">Natures des missions</a></li>

            </ul>
        </nav>
    </div>
    <div ng-switch-when="manager">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Gestion des missions</a></li>
                <li><a href="#">Planning des missions</a></li>
                <li><a href="#">Primes</a></li>
                <li><a href="#">Saisie note de frais</a></li>
                <li><a href="#">Validation des missions</a></li>
            </ul>
        </nav>
    </div>

    <div ng-switch-when="employe">
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Gestion des missions</a></li>
                <li><a href="#">Planning des missions</a></li>
                <li><a href="#">Primes</a></li>
                <li><a href="#">Saisie note de frais</a></li>
            </ul>
        </nav>
    </div>-->